# Acceptance Test Report

## Memory Usage (Phpolar\Migrations\MemoryUsage)

- [x] Memory usage for the create command request shall be below 99999 bytes
- [x] Memory usage for the revert command request shall be below 19999 bytes
- [x] Memory usage for the run command request shall be below 21999 bytes

## Project Size (Phpolar\Migrations\ProjectSize)

- [x] Source code total size shall be below 15000 bytes
